body {
    overflow-x: hidden;
}

#navigation li {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

#navigation a {
    font-family: 'Calibri', 'sans-serif';
    background: #F2A05D;
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    color: white;
}

#navigation li:hover a {
    float: none;
    background-color: #F2C460;
    color: black;
}

#navigation li:hover {
    float: none;
    background-color: #F2C460;
    color: black;
}

nav {
    background: #F2A05D;
    margin: -16px;
    margin-left: -35px;
    margin-right: 0px;
}

.top-mid {
    margin-left: auto;
    margin-right: auto;
}

.decoration-off {
    text-decoration: none;
    color: black;
}

.decoration-off:hover {
    text-decoration: none;
    color: rgb(104, 104, 104);
}

.border {
    border: solid;
    border: 2px;
    border: outset #f33;
}

#top {
    background: #F25757;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
}

#top a {
    text-decoration: none;
}

.top-right {
    padding: 10px;
    margin-right: 2rem;
}

#demo {
    margin-left: 2.3rem;
    font-size: 1.35rem;
    font-weight: bold;
}

i {
    color: #ffc371;
}

.btn-art {
    margin-left: 2rem;
    margin-top: 2rem;
}

.img-art {
    margin-top: 2rem;
    margin-left: 10rem;
}

.art-title {
    font-size: 50px;
    margin-top: 2rem;
    margin-left: 40rem;
    margin-right: auto;
}

.art-text {
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}